@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}

a {
  color: #100cdb;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding: 0 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

.head {
  padding: 18.5em;
  opacity: 0.9;
  text-align: center;
  background-image: url('./bg.jpeg');
  background-size: cover;
  background-position: fixed;
  color: white;
}

.headex {
  padding: 15.5em;
  opacity: 0.9;
  text-align: center;
  background-image: url('./bg.jpeg');
  background-size: cover;
  background-position: fixed;
  color: white;
}

.headc {
  padding: 13.6em;
  opacity: 0.9;
  background-image: url('./bg.jpeg');
  background-size: cover;
  background-position: fixed;
}

.head_c {
  text-align: center;
  background-color: #ffffff;
  opacity: 0.9;
  color: #332021;
  padding-top: 2.3em;
  padding-bottom: 3em;
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  padding-bottom: 5.1em;
  text-align: center;
  opacity: 0.9;
  background-image: url('./bg.jpeg');
  background-size: cover;
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  margin: 2em;
  border-radius: 100%;
  max-width: 200px;
}

/* .quo{
  padding: 10em;
  text-align: center;
  background-color: #ffffff;
  font-size: 15px;
  color: #47a1ad;
}

.quo h5{
  font-size: 25px;
} */

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  /* margin: 1em 0; */
}

h3 {
  text-transform: uppercase;
}

.subs {
  font-size: 40px;
}

h3,
h4 {
  font-weight: bold;
}

h5 {
  font-size: 17px;
}

main {
  max-width: 1140px;
  text-align: center;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.fab,
.fas {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab,
.fas {
  color: white;
}

.experience,
.skills {
  display: flex;
  flex-wrap: wrap;
}

.experience .title {
  color: #47a1ad;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.experience .descrition {
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.experience .descrition p {
  padding-left: 1em;
}

.skills .column {
  flex: 0 0 50%;
  max-width: 50%;
  padding-bottom: 3em;
}

.skills .column ul {
  list-style-type: none;
}

.skills .column ul > li:before {
  content: '►';
  padding-right: 0.5em;
  color: #47a1ad;
}

.school {
  text-transform: capitalize;
}

.school span {
  color: #47a1ad;
  text-decoration: underline;
}

footer {
  padding: 1em 1.5em;
  background: #f3f3f3;
  text-align: right;
  color: #332021;
}

@media only screen and (max-width: 768px) {
  .experience {
    display: block;
  }

  .experience .title,
  .experience .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }
}
